@font-face {
    font-family: Futura-PT;
    src: url('./fonts/Futura\ PT.ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-image: url('./img/bgc.png');
}

header {
    display: flex;
    justify-content: center;
    height: 600px;
    align-items: center;
    background-image: url('./img/photo-1579800790234-cb5bd473ebe7.jpeg');
}

h1 {
    font-family: Futura-PT;
    font-size: 60px;
    width: 1100px;

    color: white;
}

.header-text {
    margin-top: 30px;
    font-family: Futura-PT;
    font-size: 26px;
    width: 800px;

    color: white; 
}

.content {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.mendeleyev {
    z-index: 1;
    width: 350px;
    height: 492px;
    transition: transform 1s;
}

.mendeleyev2 {
    margin-top: 30px;
    right: 175px;
    position: absolute;
    width: 350px;
    height: 492px;
    transition: transform 2s;
    opacity: 50%;
    filter: contrast(200%);
}

.mendeleyev:hover {
    transform: translateX(-50px) translateY(-20px);
}

.mendeleyev2:hover {
    transform: translateX(50px) translateY(20px);
}

.border {
    margin-top: 630px;
    position: absolute;
    width: 1864px;
    height: 80px;
    background-color: rgb(20, 20, 20);
}

table, desc {
    border-collapse: collapse;
}

td {
    width: 50px;
    height: 50px;
    color: white;
}

.s-el {
    background: #17004d;
}

.s-el:hover {
    background: #7438ff;
    box-shadow: 0 0 2px #7438ff, 0 0 30px #7438ff;
}

.p-el {
    background: #002652;
}

.p-el:hover {
    background: #2ab1ff;
    box-shadow: 0 0 2px #2ab1ff, 0 0 30px #2ab1ff;
}

.d-el {
    background: #4d002a;
}

.d-el:hover {
    background: #ff50b0;
    box-shadow: 0 0 2px #ff50b0, 0 0 30px #ff50b0;
}

td > h2 {
    font-family: Futura-PT;
}

td > div {
    display: flex;
    background: white;
    border-radius: 50px 0px 0px 0px;
    align-items: center;
    justify-content: center;
    margin-left: 70px;
    height: 30px;
    width: 30px;
    justify-self: left;
    color: black;

    font-family: Futura-PT;
}

td > p {
    margin-bottom: 5px;
    font-family: Futura-PT; 
}

.element {
    width: 1600px;
    display: flex;
    justify-content: space-between;
}

.desc {
    width: 300px;
    height: 200px;
}

.el-title {
    font-family: Futura-PT;
    font-size: 24px;
}

.el-text {
    font-family: Futura-PT;
    font-size: 22px;
}

.el-right {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}

.tri {
    margin-left: 0px;
    margin-top: -92px;
    z-index: 0;
    border: 50px solid transparent;
    width: 0;
    height: 0;
    border-radius: 0px;
    background-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
}

.tri2 {
    margin-left: 200px;
    margin-top: -94px;
    border: 50px solid transparent;
    width: 0;
    height: 0;
    border-radius: 0px;
    background-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
}

.nav {
    font-family: Futura-PT;
}

.el {
    font-family: Futura-PT;
    color: white;
    font-size: 20px;
    margin-right: 0px;
    width: 100px;
}

.el-class {
    border: rgba(255, 255, 255, 0.404) 1px solid;
}

.el-nav {
    margin-left: 63px;
}

.el-color {
    width: 45px;
    height: 45px;
    background-color: transparent;
    border-radius: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.el-color:first-child {
    background: #7438ff;
    color: #7438ff;
    box-shadow: 0 0 2px #7438ff, 0 0 10px #7438ff;
}

#one {
    background: #2ab1ff;
    color: #2ab1ff;
    box-shadow: 0 0 2px #2ab1ff, 0 0 10px #2ab1ff;
}

#two {
    background: #ff50b0;
    color: #ff50b0;
    box-shadow: 0 0 2px #ff50b0, 0 0 10px #ff50b0;
}

.el-color:last-child {
    background: #ff8a2a;
    color: #ff8a2a;
    box-shadow: 0 0 2px #ff8a2a, 0 0 10px #ff8a2a;
}

.row1 {
    display: flex;
    background: transparent;
    width: 200px;
    justify-content: space-between;
}

.row2 {
    display: flex;
    background: transparent;
    justify-content: space-between;
    width: 150px;
    margin-left: 8px;
}

.el-title2 {
    font-size: 30px;
    font-family: Futura-PT;
    color: #fff;
    width: 222px;
    margin-left: 43px;
}

.cell-title {
    font-family: Futura-PT;
    text-align: center;
}

.intresting {
    border: rgba(255, 255, 255, 0.404) 1px solid;
    padding: 10px;
}

.intresting h2 {
    font-size: 30px;
    font-family: Futura-PT;
    color: #fff;
}

.intresting p {
    font-size: 20px;
    font-family: Futura-PT;
    color: #fff;
}