@font-face {
    font-family: Futura-PT;
    src: url('./fonts/Futura\ PT.ttf');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-image: url('./img/bgc.png');
}

header {
    display: flex;
    justify-content: center;
    height: 600px;
    align-items: center;
}

h1 {
    font-family: Futura-PT;
    font-size: 60px;
    width: 1100px;

    color: white;
}

.header-text {
    margin-top: 30px;
    font-family: Futura-PT;
    font-size: 26px;
    width: 800px;

    color: white; 
}

.content {
    display: flex;
    justify-content: center;
}

.mendeleyev {
    width: 350px;
    height: 492px;
}

table, desc {
    border-collapse: collapse;
}

td {
    width: 50px;
    height: 50px;
    color: white;
}

.s-el {
    background: #17004d;
}

.s-el:hover {
    background: #976aff;
}

.p-el {
    background: #002652;
}

.p-el:hover {
    background: #2a8dff;
}

.d-el {
    background: #4d002a;
}

.d-el:hover {
    background: #ff50b0;
}

td > h2 {
    font-family: Futura-PT;
}

td > div {
    display: flex;
    background: white;
    border-radius: 50px 0px 0px 0px;
    align-items: center;
    justify-content: center;
    margin-left: 70px;
    height: 30px;
    width: 30px;
    justify-self: left;
    color: black;

    font-family: Futura-PT;
}

td > p {
    margin-bottom: 5px;
    font-family: Futura-PT; 
}

.element {
    width: 1600px;
    display: flex;
    justify-content: space-between;
}

.desc {
    width: 300px;
    height: 200px;
}

.el-title {
    font-family: Futura-PT;
    font-size: 24px;
}

.el-text {
    font-family: Futura-PT;
    font-size: 22px;
}

.el-right {
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}

.tri {
    margin-left: 0px;
    margin-top: -92px;
    z-index: 0;
    border: 50px solid transparent;
    width: 0;
    height: 0;
    border-radius: 0px;
    background-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
}

.tri2 {
    margin-left: 200px;
    margin-top: -94px;
    border: 50px solid transparent;
    width: 0;
    height: 0;
    border-radius: 0px;
    background-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
}

.nav {
    font-family: Futura-PT;
}

.el {
    font-family: Futura-PT;
    color: white;
    font-size: 20px;
    margin-right: 0px;
    margin-left: 10px;
    width: 100px;
}

.el-color {
    width: 45px;
    height: 45px;
    background-color: transparent;
    border-radius: 0px;
    margin-left: 0px;
}

.el-color:first-child {
    background: #976aff;
    color: #976aff;
}

#two {
    background: #2a8dff;
    color: #2a8dff;
}

#one {
    background: #ff50b0;
    color: #ff50b0;
}

.el-color:last-child {
    background: #ff8a2a;
    color: #ff8a2a;
}

.row1 {
    margin-top: 20px;
    margin-left: 0px;
    background: transparent;
    width: 200px;
    justify-content: space-between;
}

.row2 {
    margin-top: 10px;
    margin-left: 20px;
    background: transparent;
    justify-content: space-between;
    width: 150px;
}

.el-title2 {
    font-size: 30px;
}

.cell-title {
    font-family: Futura-PT;
    text-align: center;
}